body{
    background-image: url("/images/iu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
    background-size: cover;
    color: aliceblue;
}
table{
    background-color: rgb(174, 255, 0); color: rgb(169, 248, 0);    
}
